<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @job.description %>
</p>

<p>
  <b>Pay:</b>
  <%= @job.pay %>
</p>


<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
