<!DOCTYPE html>
<html>
<head>
  <title>Famocracy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
	  <%= link_to "Famocracy", root_path, id: "logo" %>
	  <nav>
        <ul class="nav pull-left">
          <li class="active"><a href="/">Home</a></li>
          <li><%= link_to "The Garage", "#" %></li>
          <li><%= link_to "Frat House", "#"  %></li>
          <li><%= link_to "Madison Square Garden", "#" %></li>
          <li><%= link_to "Ultra Main Stage", "#" %></li>
        </ul>

        <% if user_signed_in? %> 
        <ul class="nav pull-right">
          <li><%= link_to "Users", '#' %></li>
          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Account <b class="caret"></b>
            </a>
   		  <ul class="dropdown-menu">
		  <li><%= link_to "Profile", "#" %></li>
		  <li><%= link_to "Settings", "#" %></li>
		  <li class="divider"></li>
		  <li>
		    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
		  </li>
		</ul>
	  </li>
	<% else %>
      <li><%= link_to "Sign in", new_user_session_path %></li>
	<% end %>
      </div>
    </div>
   </div>
</head>
<body>
  <div class="container">
  <p class="notice"><%= notice %><%= alert %></p>
  <p><% if user_signed_in? %>
      <% current_user.notifications.each do |notification| %>
        <% if !notification.read %>
          <%= link_to notification.subject, notification %>
        <% end %>
      <% end %>
    <% end %>
    <div class="hero-unit" id="body">
      <%= yield %>
    </div>
  </div>
</body>
</html>
